////////
///Logo
////////////
//test
.logo {
    height: 3.25rem;
}

.search{

    &__input{

    }

    &__button {

    }

    &__icon{
        height: 2.25rem;
        width: 2.25rem;
    }
}



.user-nav {
    &__icon-box{

    }

    &__icon{
        height: 2.25rem;
        width: 2.25rem;
    }

    &__notification{

    }

    &__user{

    }

    &__user-photo{
        height: 3.75rem;
    }
}